h1 {
    font-family: 'Righteous', cursive;
    color: white;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 23px;
    color: white;
}
.wrapper{
    border: 2px solid black;
    width: 100px;
    height: 60px;
    padding: 10px;
    border-radius: 50px;
    background-color: black;
}
.light-switch{
    border: 2px solid black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
}
.homepage{
    background-color: black;
    color: white;
    width: 200px;
    height: 60px;
}
.margin{
    transition: ease-in 250ms;
    margin-left: 40px;
}
.hidden{
    display: none;
}
.switch-case-1{
    border: 2px solid white;
}
.switch-case-2{
    border: 2px solid white;
}
button{
    margin-bottom: 10px;
    border-radius: 25px;
    font-family: 'Quicksand', cursive;
    transition: ease-in-out 250ms;
}
button:hover{
    background-color: black;
    color: white;
    transform: translateY(5px);
}