body{
    background-color: black;
    color: white;
}
.hidden{
    opacity: 0;
}

.first-container, .second-container, .third-container, .fourth-container, .fifth-container, .sixth-container, .seventh-container, .eight-container{
    border: 2px solid white;
}