.container1{
    width: 225px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 25%;
    background-color: #ffffff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.459);
    border-radius: 8px;
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    background-color:darkgray;
}

.container2{
    width: 400px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 75%;
    background-color: #ffffff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.459);
    border-radius: 8px;
    display: flex;
    flex-direction:row;
    align-items: center;
    background-color:darkgray;
}

.container3{
    width: 140px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.459);
    border-radius: 8px;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color:darkgray;
}

.container4{
    width: 300px;
    height: 300px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.459);
    border-radius: 8px;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color:darkgray;
    opacity: 0.7;
    visibility: visible;
}

.container5{
    width: 400px;
    height: 350px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.459);
    border-radius: 8px;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color:darkgray;
    opacity: 0.7;
    visibility: hidden;
    text-align: center;
}

.container6{
    width: 80px;
    height: 50px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 80%;
    left: 40%;
    background-color: #ffffff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.459);
    border-radius: 8px;
    align-items: center;
    background-color:darkgray;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
}

.container7{
    width: 230px;
    height: 50px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 80%;
    left: 60%;
    background-color: #ffffff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.459);
    border-radius: 8px;
    align-items: center;
    background-color:darkgray;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
}

.container8{
    width: 150px;
    height: 50px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 90%;
    left: 90%;
    background-color: #ffffff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.459);
    border-radius: 8px;
    align-items: center;
    background-color:darkgray;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    visibility: hidden;
}

button{
    color:rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    font-size: 40px;
    border-radius: 1cm;
    padding: 10px;
    cursor:pointer;
    transition: 300ms; 
}

button:hover{
    transition: 300ms;
    color: #ffffff;
    background-color: darkslategray;
}

button:active{
    transition: 300ms;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    
}

.Higher{
    box-shadow: 0 -9px #999;
    margin-bottom: 10px;
}

.Higher:active{
    box-shadow: 0 -5px #666;
    transform: translateY(-4px);
    
}

.Higher:focus {
    background-color: #666;
    color: #ffffff;
    transform: translateY(-4px);
    box-shadow: 0 -5px #666;
    cursor: no-drop;
}

.Lower{
    box-shadow: 0 9px #999;
}

.Lower:focus {
    background-color: #666;
    color: #ffffff;
    transform: translateY(4px);
    box-shadow: 0 5px #666;
    cursor: no-drop;
}

.Die1, .Die2 {
    box-shadow: 0 9px #999;
}

.container1, .container2, .container3, .container6, .container7, .container8{
    filter: blur(8px);
}

.no-blur{
    filter:none;
}

.rulesButton{
    margin-top: 15%;
}

.startButton{
    margin-top: 20%;
}

.rulesText{
    text-align: left;
}

.startButton, .rulesButton{
    box-shadow: 0 9px #999;
}

#backToStart{
    box-shadow: 0 9px #999;
}

#backToStart:active{
    box-shadow: 0 5px #666;
}

.coin{
    height: 40px;
}

body{
    background: linear-gradient(124deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 1800% 1800%;
    
    -webkit-animation: rainbow 2000s ease infinite;
    -moz-animation: rainbow 2000s ease infinite;
    -o-animation: rainbow 2000s ease infinite;
    animation: rainbow 200s ease infinite;}
    
    
    @-webkit-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-moz-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-o-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @keyframes rainbow { 
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
